<nav>
  <div id="toggle">
    <div class="data-theme">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" (click)="switch()">
                <div class="slider round"></div>
        </label>
            <em>Enable Dark Mode<br></em>
    </div>
  </div>
</nav>
<!-- <nav>
    <div id="toggle">
      <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
                  <div class="slider round"></div>
          </label>
              <em>Enable Dark Mode<br></em>
      </div>
    </div>
</nav> -->

<h1>
  <div data-role='header'>
    <div class='center'>
        Approv.d
    </div><br>
  </div>
</h1>

<h3>
  <div class='center'>
      <ul id="tabs">
          <li><a data-role='button' data-inline='true' data-transition='slide' 
              id="tab1" class="" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
          <li><a data-role='button' data-inline='true' data-transition='slide' 
              id="tab2" class="" [routerLink]="['/maybes']" routerLinkActive="router-link-active">Maybes</a></li>
          <li><a data-role='button' data-inline='true' data-transition='slide' 
              id="tab3" [routerLink]="['/matches']" routerLinkActive="router-link-active">Matches</a></li>
          <li><a data-role='button' data-inline='true' data-transition='slide' 
              id="tab4" [routerLink]="['/matchers']" routerLinkActive="router-link-active">Matchers</a></li>
          <li><a data-role='button' data-inline='true' data-transition='slide' 
              id="tab5" [routerLink]="['/messages']" routerLinkActive="router-link-active">Messages</a></li>
          <li><a data-role='button' data-inline='true' data-transition='slide' 
              id="tab6" [routerLink]="['']" routerLinkActive="router-link-active">Log out</a></li>
      </ul>
  </div>
</h3>
