  <div data-role='fieldcontain' class="center">
    <h2>Login</h2>
  </div>
  <div data-role='fieldcontain' class="center">
    <label>Username</label><br>
    <input type='text' maxlength='16' name='username'>
  </div>
  <div data-role='fieldcontain' class="center">
    <label>Password</label><br>
    <input type='password' maxlength='16' name='password'>
  </div>
  <div data-role='fieldcontain' class="center">
    <input data-role='button' type='submit' value='Login' [routerLink]="['/home']" routerLinkActive="router-link-active">
  </div>
  <br><br>
  <div data-role='fieldcontain' class="center">
    <label>Not a member?</label><br>
    <input data-role='button' type='submit' value='Sign Up' [routerLink]="['/member-type']" routerLinkActive="router-link-active">
  </div> 