<h2>Matcher Sign Up</h2>
<div data-role='fieldcontain' class='center'>
    <label>Username</label><br>
    <input type='text' maxlength='16' name='username' value=''
        onBlur='checkUser(this)'>
</div>
    <div data-role='fieldcontain' class='center'>
    <label>Password</label><br>
    <input type='text' maxlength='16' name='password' value=''>
</div>
<div data-role='fieldcontain' class='center'>
    <label>First Name</label><br>
    <input type='text' maxlength='16' name='firstName' value=''>
</div>
<div data-role='fieldcontain' class='center'>
    <label>Last Name</label><br>
    <input type='text' maxlength='16' name='lastName' value=''>
</div>
<div data-role='fieldcontain' class='center'>
    <label>Birthday</label><br>
    <input type='date' name='birthday' value=''/>
</div>
<div data-role='fieldcontain' class='center'>
    <label></label><br>
    <input data-transition='slide' type='submit' name='submit' value='Sign Up' [routerLink]="['/home']" routerLinkActive="router-link-active">
</div>
